.container {
    .main {
        margin-bottom: 2em;
        min-height: 100%;
        overflow: auto;
        padding: 0 2em;
        text-align: justify;
    }

    app-footer {
        bottom: 0;
        color: #707070;
        height: 2em;
        left: 0;
        position: relative; //changed to relative from fixed also works if position is not there
        font-size: small;
        width:100%;
    }
}