<div class="container">
    <h1>Dashboard</h1>

    <div>
        <!-- FILTER COMPONENT TO PUT IN -->
        <input type="text">
    </div>

    <div class="records">
        <div class="record" *ngFor="let record of (recordsData | async )">
            <div class="record-head">
                <h5>{{record.title}} Details</h5>
                <h5>{{record.division}} Division</h5>
            </div>
            <div class="record-body">
                <p>Project Owner: {{ record.project_owner }}</p>
                <p>Budget: {{ record.budget | currency }}</p>
                <p>Status: {{ record.status }}</p>
                <p>Created: {{ record.created }} | Modified: {{ record?.modified ? record.modified : "not modified" }}</p>
            </div>
        </div>

    </div>
</div>
